<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" tools:node="remove" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" tools:node="remove" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" tools:node="remove" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_START_FOREGROUND_SERVICES_FROM_BACKGROUND" tools:node="remove" />
    <uses-permission android:name="android.permission.REQUEST_OBSERVE_COMPANION_DEVICE_PRESENCE" tools:node="remove" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" tools:node="remove" />
    <uses-feature android:name="android.hardware.bluetooth" tools:node="remove" />
    <uses-feature android:name="android.hardware.bluetooth_le" tools:node="remove" />
    <uses-feature android:name="android.software.companion_device_setup" tools:node="remove" />
    <application>
        <service android:name=".services.RykerDeviceService" tools:node="remove" />
        <receiver android:name=".services.BluetoothConnectReceiver" tools:node="remove" />
    </application>
</manifest>
